/* layout for every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style for body element */
body {
  min-height: 100vh;
  width: 50%;
  background-color: rgb(226 232 240 / 80%);
  margin:auto;
}

/************MAIN CONTAINER BEGINS********************************************************/

.window-container {
  width:inherit;
  min-height:100vh;
  position: relative;
}

/************MAIN CONTAINER ENDS********************************************************/

/************RIGHT CONTAINER BEGINS********************************************************/

.right-main-container {
 display:static;
}

/************NAVBAR STYLE BEGINS************************************************************/
/* navigation bar WRAPPER style, uppermost element */
.navbar-wrapper {
  width:inherit;
  height:fit-content;
  display: flex;
  margin:30px 30px 0 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 1px 1px lightgray;
}

/* navigation bar TEXT style */
.navbar-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  transition: all .2s linear
}
/* navigation bar on activation */
.navbar-text-active {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #e2e8f0cc;
  transition: all .2s linear
}

/*navbar-text animation */
.navbar-text:hover {
  background-color: #e2e8f0cc;
}

/* homebutton bar style */
.home-button-active{
  margin: 20px 20px 20px 30px;
  padding: 8px 8px 0 8px;
}

/************NAVBAR STYLE ENDS************************************************************/

/************RIGHT TEXT BEGINS************************************************************/

/* right box container */
.rightBox {
  background-color:white;
  margin: 30px;
  border-radius: 20px;
  height:100vh;
  box-shadow: 5px 6px 1px 1px lightgray;

}

/* right box text information wrapper TEXT + HELLO */
.rightBox-text-wrapper {
  width:100%;
  padding:150px 80px 0 80px;
  height:fit-content;
}

/* right box HELLO text */
.rightBox-hello-text {
  font-size: 120px;
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  color:#3c3c3c;
  font-weight: lighter;
  
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

/* hello text animation */
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* right box text information wrapper */
.rightBox-introduction-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #0f172a;
  letter-spacing: 1px;
  line-height: 30px;
  padding-top:50px;
}

.wave-hand {
  scale: 1.5;
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: infinite;  
  transform-origin: 70% 70%;       
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) } 
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }
}

/* links box wrapper */
.link-sites {
  display:flex;
  padding-top: 50px;
}

/* link github wrapper */
.link-github {
  padding-right: 30px;
}

/* link linkedin wrapper */
.link-linkedin {
  padding-right: 30px;
}
/************RIGHT TEXT ENDS************************************************************/

/************VECTOR AREA BEGINS*********************************************************/

/* main vector rectangle box */
.vector-bottom-bar {
  position:absolute;
  bottom:30px;
  width:100%;
}

/* main graphics box */
.vector-graphics {
  display: flex;
  padding: 0 80px 0 80px;
  position:relative;
}

/* silhouette */


/* main rectangle line bottom */
.bottom-rectangle {
  width:auto;
  height: 4px;
  background-color:#6f6f6f ;
  margin-left: 80px;
  margin-right: 80px;
}

/* ferris wheel */
#ferris-wheel {
  position:absolute;
  left:242.25px;
  top:31.25px;
  animation-name: spin;
  animation-duration: 18000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

/* ferris wheel animation */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
} 


/************VECTOR AREA END************************************************************/

/* bottom text on make */
.bottom-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6f6f6f;
  margin-left:80px;
  padding-top:10px;

}

/************RIGHT CONTAINER ENDS********************************************************/

